<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>

  <!-- add bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

</head>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">

    <!-- loop thru each item in items array and show it with a checkbox next to it -->
    <% itemsArray.forEach(item => { %>
      <form action="/delete" method="post">
        <div class="item">
          <!-- checkbox used to delete item once clicked -->
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
          <p><%= item.name %></p>
        </div>

        <!-- add hidden input to get list name from form so we can delete items from a custom list -->
        <input type="hidden" name="currentListName" value="<%= listTitle %>">

      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>


  </div>



</body>

</html>
