<%- include('partials/header'); %>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">

    <!-- loop thru each item in items array and show it with a checkbox next to it -->
    <% itemsArray.forEach(item => { %>
      <form action="/delete" method="post">
        <div class="item">
          <!-- checkbox used to delete item once clicked -->
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
          <p><%= item.name %></p>
        </div>

        <!-- add hidden input to get list name from form so we can delete items from a custom list -->
        <input type="hidden" name="currentListName" value="<%= listTitle %>">

      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input class="new-item-input" type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button class="new-item-btn" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

  <!-- updated dropdown list -->
  <div class="box non-todo-box list-nav-box">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Navigate to Another List
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% listNameArray.forEach(item => { %>
        <% if (item === defaultListTitle) { %>
        <li><a class="dropdown-item" href="/"><%= item %></a></li>
        <% } else { %>
        <li><a class="dropdown-item" href="/<%= item %>"><%= item %></a></li>
        <% } %>
        <% }); %>
      </ul>
    </div>
  </div>

  <!-- create new list form -->
  <div class="box non-todo-box create-list-box">
    <form class="create-new-list-form" action="/create-list" method="post">
      <div class="input-group form-floating ">
        <input type="text" class="new-list form-control" name="newList" id="floatingInput" autocomplete="off">
        <label for="floatingInput">Create New List</label>
        <button class="btn btn-primary create-list-btn" type="submit">Create</button>
      </div>
    </form>
  </div>

  <!-- delete list button -->
  <% if (listTitle != defaultListTitle) { %>
  <div class="box non-todo-box">
    <form class="" action="/delete-list" method="post">
      <button class="delete-list-btn" type="submit" value="<%= listTitle %>"name="deleteListBtn">Delete Current List</button>
    </form>
  </div>
  <% } %>


<%- include('partials/footer'); %>
