<%- include('partials/header'); %>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">

    <!-- loop thru each item in items array and show it with a checkbox next to it -->
    <% itemsArray.forEach(item => { %>
      <form action="/delete" method="post">
        <div class="item">
          <!-- checkbox used to delete item once clicked -->
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
          <p><%= item.name %></p>
        </div>

        <!-- add hidden input to get list name from form so we can delete items from a custom list -->
        <input type="hidden" name="currentListName" value="<%= listTitle %>">

      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button class="new-item-btn" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

  <div class="box">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Navigate to Another List
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% listNameArray.forEach(item => { %>
        <% if (item === defaultListTitle) { %>
            <a class="dropdown-item" href="/"><%= item %></a>
        <% } else { %>
            <a class="dropdown-item" href="/<%= item %>"><%= item %></a>
        <% } %>
        <% }); %>
      </div>
    </div>
  </div>


</body>

</html>
